# Core functionality - changes here should be rare!
/src/app.py                   @Moonlight4940
/src/backend/database.py      @Moonlight4940
/src/backend/routers/auth.py  @Moonlight4940

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Moonlight4940
